{% extends "layout.html" %}
{% block content %}
	<div class="jumbo">
    	<h2>Welcome to Aaron's profile<h2>
	</div>
  	<div class = "personal-statement">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, vitae, vel quasi vero expedita provident optio rem nulla aut deserunt nisi velit hic beatae repellendus perferendis doloribus autem dolore quidem.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dicta, nesciunt quae corrupti voluptatibus quasi placeat deleniti aliquid error quam recusandae dolore qui totam hic molestiae beatae rem cum deserunt?</p>
	</div>
{% endblock %}